[submodule "public/02_hello_html_typescript"]
	path = public/02_hello_html_typescript
	url = https://gitlab.com/webdev101/02_hello_html_typescript.git
[submodule "public/03_tsconfig.json"]
	path = public/03_tsconfig.json
	url = https://gitlab.com/webdev101/03_tsconfig.json.git
[submodule "public/04_debug"]
	path = public/04_debug
	url = https://gitlab.com/webdev101/04_debug.git
[submodule "public/05_html_css_2048"]
	path = public/05_html_css_2048
	url = https://gitlab.com/webdev101/05_html_css_2048.git
